/* CSS variables */

:root {
  --text-color: #0000009c;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.bg-contents {
  background-color: #f1e7e78f;
  width: 100%;
}

.bg-shots {
  background-color: #dbd6d68f;
  width: 100%;
}

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}

header {
  padding: 20px 0;
  /* background-color: #e3dddd; */
}

header nav {
  /* margin: 0 auto; */
  text-align: center;
}

header nav li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -20px;
}

header nav li:nth-child(5) {
  position: relative;
  top: 0;
}

header nav li a {
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

header nav li a:hover {
  color: #716e6eb5;
}

.mobile-display {
  display: none;
}

/* Banner */

#main-banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

#main-banner img {
  width: 100%;
  position: relative;
}

#main-banner .banner-content {
  position: absolute;
  top: 200px;
  display: block;
  width: 100%;
  text-align: center;
}

#main-banner h1 {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 40px;
}

#main-banner h3 {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #cbc2c2;
  font-size: 20px;
}

/* About */

#about {
  padding-top: 60px;
}

#about .about-content {
  width: 32%;
  padding: 1%;
  text-align: center;
  line-height: 1.6em;
  float: left;
}

#about .about-content h3 {
  padding-right: 50%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

#about .about p {
  padding: 5px 30px;
  font-size: 18px;
  color: var(--text-color);
}

#about .choose p {
  padding: 5px 14px;
  font-size: 16px;
  color: var(--text-color);
}

#about ul.list {
  padding: 5px 20px;
  color: var(--text-color);
}

#about ul.list li {
  font-size: 14px;
}

.skills-desc {
  font-size: 15px;
  color: #00000094;
  float: left;
}

.percent {
  font-size: 15px;
  color: #000;
  float: right;
}

.skills-content {
  width: 100%;
  background-color: #ddd;
  float: left;
}

.skills {
  padding-right: 20px;
  height: 10px;
}

.photoshop {
  width: 90%;
  height: 15px;
  background-color: #4caf89ed;
}

.final {
  width: 80%;
  height: 15px;
  background-color: #6aaf4ced;
}

.studio {
  width: 85%;
  height: 15px;
  background-color: #333333bd;
}

.motion-video {
  width: 65%;
  height: 15px;
  background-color: #cc425d;
}

#about:after {
  content: "";
  display: block;
  clear: both;
}

/* specialty  */

#specialty {
  margin-top: 60px;
}

#specialty h3 {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

#specialty .special-content {
  width: 23%;
  padding: 1%;
  margin: 60px 5px;
  max-height: 300px;
  background-color: var(--white);
  /* border: 1px solid #000; */
  float: left;
  text-align: center;
}

#specialty .special-border {
  border: 1px solid #0000003b;
  height: auto;
  width: 96%;
  padding: 4%;
}

#specialty h1.icon-tittle {
  padding: 10px;
  font-size: 18px;
}

#specialty p.icon-desc {
  padding: 5px 5px;
  line-height: 1.6em;
  font-size: 16px;
  color: var(--text-color);
}

#specialty::after {
  display: block;
  content: "";
  clear: both;
}

/* Latest Shots */

#latest-shots {
  padding-top: 60px;
  text-align: center;
}

#latest-shots h1.shots-tittle {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
}

#latest-shots p.shots-desc {
  font-size: 18px;
  color: var(--text-color);
  padding: 10px 140px;
}

#latest-shots .links {
  text-align: center;
  padding-top: 60px;
}

#latest-shots .links a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--text-color);
}

#latest-shots .links a:hover {
  color: #000;
}

#latest-shots .gallery {
  padding-top: 20px;
}

#latest-shots .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#latest-shots .column {
  -ms-flex: 32%;
  /* IE10 */
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

#latest-shots .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

#latest-shots .load {
  margin-top: 50px;
}

#latest-shots a.btn-load {
  text-decoration: none;
  text-align: center;
  border: 1px solid #000000db;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #000000db;
  color: #fff;
  font-weight: 800;
}

#latest-shots a.btn-load:hover {
  background-color: #000;
}

/* slider */

.slider {
  background: url(../img/testimonial.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.slider-content {
  width: 100%;
  text-align: center;
  position: relative;
  top: 40%;
}

.slider-content h3.slider-tittle {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 10px;
}

.slider-content p.slider-desc {
  color: #ffffffc4;
  font-size: 20px;
  padding: 0px 310px 10px;
}

.slider-content p.customer {
  font-size: 13px;
  color: #fffc;
  font-weight: 800;
  text-transform: uppercase;
}

.slider-container {
  position: relative;
}

.mySlides {
  display: none;
  text-align: center;
  position: relative;
}

.dot-container {
  text-align: center;
  padding: 20px;
  position: relative;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
}

.slider-content .active, .dot:hover {
  background-color: var(--white);
}

/* logo */

.logos {
  text-align: center;
  margin: 20px auto;
}

.logos ul li {
  list-style-type: none;
  width: 15%;
  float: left;
}

.logos::after {
  content: "";
  display: block;
  clear: both;
}

/* blog */

#blog {
  margin-top: 60px;
}

#blog h1.blog-tittle {
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

#blog .blog-border {
  width: 32%;
  margin: 20px 5px;
  float: left;
  position: relative;
}

#blog .blog-border img {
  width: 100%;
}

#blog p.date {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--white);
  text-align: center;
  padding: 5px 5px;
  font-weight: 800;
  font-size: 14px;
}

#blog .blog-contents {
  position: absolute;
  bottom: 30px;
  left: 10px;
  text-shadow: 1px 1px #000;
}

#blog h2.blog-name {
  font-size: 18px;
  color: var(--white);
}

#blog .blog-comments {
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}

#blog p.blog-comments a {
  text-decoration: none;
  color: var(--white);
}

#blog p.sayings {
  font-size: 12px;
  color: var(--white);
  font-weight: 600;
  padding: 5px 10px;
}

#blog:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color: #222222;
  margin-top: 30px;
  text-align: center;
}

footer .footer-top {
  width: 100%;
  text-align: center;
  padding: 30px;
}

footer p.footer-tag {
  color: #ffffff94;
  padding: 5px 350px;
}

footer .footer-logo {
  padding: 5px 5px;
  text-align: center;
}

footer .footer-logo a {
  text-decoration: none;
  color: #ffffff94;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
}

.footer-logo a:hover {
  color: var(--white);
}

footer .footer-bottom {
  background-color: #000;
  width: 100%;
  height: 50px;
}

footer p.copyright {
  color: #ffffff94;
  font-size: 14px;
  padding-top: 20px;
}

/* Media queries  */

@media screen and (max-width: 960px) {
  header nav li {
    top: 0;
    text-align: center;
  }
  header nav li:nth-child(6) {
    margin-left: 0px;
  }
  header nav li.logo img {
    display: none;
  }
  header .mobile-display {
    display: block;
    text-align: center;
    margin: 10px auto;
  }
  #main-banner .banner-content{
    top: 160px;
  }
  #about .about p {
    padding: 5px 20px;
  }
  #about .choose p {
    padding: 5px 0;
  }
  #about ul.list {
    padding: 5px 10px;
  }
  #latest-shots p.shots-desc {
    padding: 10px 0px;
  }
  .slider-content p.slider-desc {
    padding: 0 150px 10px;
  }
  .logos li:nth-child(6) {
    margin-left: 15px;
  }
  #blog .blog-border{
    margin: 20px 4px;
  }
  #blog .blog-contents {
    bottom: 20px;
  }
  #blog h2.blog-name{
    font-size: 16px;
  }
  #blog .blog-comments{
    font-size: 12px;
  }
  #blog p.sayings{
    font-size: 12px;
  }
  footer p.footer-tag {
    padding: 5px 200px;
  }
}



@media screen and (max-width: 768px) {
  header nav ul li {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  header nav {
    background-color: #555;
    padding: 0;
  }
  header .wrapper {
    padding: 0;
    width: 100%;
  }
  header {
    padding-bottom: 0;
  }
  header nav ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-top: 1px solid #4f4f4f;
  }
  header nav ul li a:hover {
    color: #000;
  }
  .burger {
    float: right;
    position: relative;
    right: 2%;
    top: 2%;
  }
  .burger-icon {
    width: 32px;
    height: 5px;
    background-color: #bdb6b6;
    margin: 6px 0;
    position: relative;
  }
  .burger-nav {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #4f4f4f;
    position: relative;
  }
  header nav ul {
    height: 0;
    overflow: hidden;
  }
  header nav ul.open {
    height: auto;
  }
  #main-banner .banner-content {
    top: 110px;
  }
  #main-banner h1 {
    font-size: 30px;
  }
  #main-banner h3 {
    font-size: 18px;
  }
  #about .about-content {
    width: 96%;
    padding: 4%;
  }
  #about .about-content h3 {
    padding-right: 0;
  }
  #about ul.list {
    margin: 0 135px;
  }
  #about .about p {
    padding: 5px 0;
  }
  #about .choose p {
    padding: 5px 0;
  }
  #specialty .special-content {
    width: 46%;
    padding: 1%;
    margin: 10px 2%;
  }
  #specialty .special-border {
    width: 100%;
    padding: 10px 5px;
  }
  .slider-content p.slider-desc {
    padding: 0px 20px 10px;
  }
  .logos ul li {
    width: 33%;
  }
  .logos ul li:nth-child(6) {
    margin-left: 0px;
  }
  .logos ul li:nth-child(4) {
    position: relative;
    top: 40px;
  }
  #blog .blog-border {
    width: 50%;
    margin: 10px auto;
    float: none;
  }
  #blog h2.blog-name {
    font-size: 18px;
  }
  #blog .blog-comments {
    font-size: 14px;
  }
  #blog p.sayings {
    font-size: 14px;
  }
  footer p.footer-tag {
    padding: 5px 80px;
  }
}

@media screen and (max-width: 580px) {
  #main-banner .banner-content {
    top: 80px;
  }
  #main-banner h1 {
    font-size: 25px;
  }
  #main-banner h3 {
    font-size: 14px;
  }
  #about .about p {
    padding: 5px 0;
  }
  #about .choose p {
    padding: 5px 0;
  }
  #about ul.list {
    margin: 0 90px;
  }
  #specialty .special-content {
    padding: 10px 10px;
  }
  #latest-shots p.shots-desc {
    padding: 10px 0;
  }
  .slider-content p.slider-desc {
    padding: 0 0 10px;
    font-size: 14px;
  }
  #blog h2.blog-name{
    font-size: 16px;
  }
  #blog .blog-comments{
    font-size: 12px;
  }
  #blog p.sayings{
    font-size: 12px;
  }
  footer p.footer-tag{
    padding: 5px 0;
  }
}

@media screen and (max-width: 480px) {
  #main-banner .banner-content {
    top: 50px;
  }
  #about ul.list {
    padding: 5px 0px;
    margin: 0;
  }

  #specialty .special-content {
    width: 100%;
  }
  #specialty .special-border {
    padding: 30px 50px;
  }
  #latest-shots p.shots-desc {
    font-size: 16px;
  }
  #latest-shots .links a {
    margin-left: 1px;
    font-size: 10px;
  }
  .logos ul li{
    width: 48%;
  }
  .logos ul li:nth-child(3) {
    position: relative;
    top: 20px;
  }
  .logos ul li:nth-child(4) {
    position: relative;
    top: 20px;
  }
  .logos ul li:nth-child(5) {
    position: relative;
    top: 40px;
  }

  #blog .blog-border {
    width: 90%;
  }
  footer p.footer-tag {
    padding: 5px 0px;
  }
}
